<p class="fs-2">Formulario para la creacion de sucursal</p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<p><em> Ingrese el nombre. Tenga en cuenta que no puede repetirse el nombre de localidades en una provincia. Por ultimo, seleccione la provincia y presione "Enviar".</em></p>

<%= render 'form' %>
        
<%= link_to 'Volver', localities_path , class: 'btn,btn-secondary' %>