
<center> 
    <h1 class="display-6">Bienvenido</h1> 
        <blockquote class="blockquote">
            <p>Hola <%= current_user.name %>! Bienvenido a la APP del banco en la cual podra:
                <li>Solicitar turnos en nuestras sucursales</li>
                <li>Visualizar todos sus turnos</li>
                <li>Cancelar o modificar sus turnos pendientes</li></p>
        </blockquote>
</center>