
<p class="fs-2">Cambiar contraseña </p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<p><em>Ingrese la nueva contraseña y confirme</em></p>


<%= render 'change_password' %>
        
<%= link_to 'Volver', users_path , class: 'btn,btn-secondary' %>