<h2>Datos del perfil</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>
<h3>
  Nombre
  <small class="text-muted"><%= current_user.name %></small><hr/>
  Rol asignado
  <small class="text-muted"><%= current_user.role %></small><hr/>
  correo
  <small class="text-muted"><%= current_user.email %></small><hr/>
</h3>