<p class="fs-2">Formulario para solicitar un turno</p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<p><em> Ingrese la fecha y hora, motivo y sucursal en la cual quiere ser atendido. Tenga en cuenta que el sistema valida que la hora debe estar dentro de los horarios definidos por dicha sucursal</em></p>

<%= render 'form' %>
        
<%= link_to 'Volver', turns_path , class: 'btn,btn-secondary' %>