<p class="fs-2">Formulario para la creacion de sucursal</p>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
   <hr class="bg-danger border-2 border-top border-danger">
</p>

<p><em> Ingrese el nombre, la direccion y el numero de telefono. Tenga el cuenta que el nombre no debe existir y proporcione una direccion en lo posible completa. Por ultimo, seleccione la localidad y presione "Enviar".</em></p>

<%= render 'form', action: subsidiary_path  %>
        
<%= link_to 'Volver', subsidiaries_path , class: 'btn,btn-secondary' %>