
<center> 
    <h1 class="display-6">Bienvenido</h1> 
        <blockquote class="blockquote">
            <p>Hola <%= current_user.name %>! Bienvenido a la APP del banco en la cual podra:
            <% if current_user.role == 'Cliente' %>
                <li>Solicitar turnos en nuestras sucursales</li>
                <li>Visualizar todos sus turnos</li>
                <li>Cancelar o modificar sus turnos pendientes</li></p>
            <% elsif current_user.role == 'Bancario' %>
                <li>Atender turnos de la sucursal en la cual trabaja</li>
                <li>Visualizar perfil de clientes</li>
                <li>Visualizar informacion de las sucursales</li></p>
            <% else %>
                <li>Gestionar sucursales </li>
                <li>Gestionar horarios de sucursales </li>
                <li>Gestionar todos los usuarios</li>
                <li>Gestionar localidades</li></p>
            <% end %>
        </blockquote>
</center>